header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
} 
