@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --main-color: #0079BF;
  --main-color-darker: rgb(0, 86, 136, 1);
  --main-color-transparent: rgba(0, 121, 191, 0.1)
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica', sans-serif, system-ui;
  background-color: var(--main-color-transparent);
  height: 100vh;
}


.completed {
  background-color: lightgreen;
}

.incomplete {
  background-color: lightcoral;
} 
